[submodule "BBT/deps/SDL"]
	path = BBT/deps/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "BBT/deps/loguru"]
	path = BBT/deps/loguru
	url = https://github.com/emilk/loguru.git
[submodule "BBT/deps/boost"]
	path = BBT/deps/boost
	url = https://github.com/boostorg/boost.git
